.container {
  background-color: var(--background);
  color: var(--text-primary-color);
  border-radius: var(--common-border-radius) var(--common-border-radius) var(--common-border-radius) var(--common-border-radius);

  border: none;
  outline: none;
  padding: 0;

  overflow: visible;
}

.container::backdrop {
  background-color: rgba(0, 0, 0, .6);
}

.closeButton {
  all: unset;
  position: absolute;

  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  overflow: hidden;
  cursor: pointer;

  &.default {
    top: 50px;
    right: var(--SIZE_x10);
  }

  &.secondary {
    top: var(--SIZE_x15);
    right: var(--SIZE_x10);
  }
}
