.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  margin: var(--SIZE_x20) 0;
}

.orderIdValue {
  composes: text text_type_digits-large from global;
  text-shadow: 0 0 35px #4C4CFF;
}

.orderIdDesc {
  composes: text text_type_main-medium from global;
  margin-top: var(--SIZE_x8);
}

.doneImage {
  max-width: 120px;
  margin-top: var(--SIZE_x15);
}

.doneDesc {
  composes: text text_type_main-default from global;
  margin-top: var(--SIZE_x15);

}

.pointDesc {
  composes: text text_type_main-default from global;
  color: var(--text-secondary-color);
  margin-top: var(--SIZE_x2);
}